@import '../../assets/scss/global.scss';

.navbar {
  height: 10vh;
  width: 100%;
  background-color: $green-main;
  color: $purple-50;
  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &__logout {
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    background: $grey-50;
    border: 1px solid $grey-50;
    color: $green-dark;
    padding: 0.3rem 0.8rem;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
      background-color: $green-dark;
      border-color: $green-dark;
      color: $grey-50;
    }
  }
}
